<!-- Intro -->
<section id="intro" class="wrapper featured style1">
    <div class="inner">
        <span class="image"><img src="{{ include.section.img_path | relative_url }}" alt="" /></span>
        <div class="content">
            <header>
                <h1>{{ include.section.title }}</h1>
                {{ include.section.content | markdownify }}
            </header>
            {% if include.section.actions %}
                <footer>
                    <ul class="actions">
                        {% for action in include.section.actions %}
                            <li><a href="{% assign expr_1 = action.url | starts_with: '#' %}{% if expr_1 %}{{ action.url }}{% else %}{{ action.url | link | relative_url }}{% endif %}" class="button big{% if action.is_primary %} primary{% endif %}{% if action.is_scrolly %} scrolly{% endif %}">{{ action.label }}</a></li>
                        {% endfor %}
                    </ul>
                </footer>
            {% endif %}
        </div>
    </div>
</section>
